* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: aquamarine;
  padding: 48px;
}

/* Container con una grilla de 5 columnas x 5 filas del mismo ancho y alto */

.container {
  display: grid; /* Esto habilita el compartimiento de grid en el contenedor */

  grid-template-columns: repeat(2, 1fr 2fr); /* Esto define el ancho de las columnas  */

  grid-template-rows: repeat(2, 1fr 2fr); /* Esto define el alto de la fila  */

  width: 500px;
  height: 500px;
  margin: 0 auto; /* Esto centra el elemento cuando tiene ancho definido */
  background-color: rgb(136, 0, 255);
}

.item {
  background-color: aliceblue;
  
}