* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: aquamarine;
  padding: 48px;
}

/* Container con una grilla de 5 columnas x 5 filas del mismo ancho y alto */

.container {
  display: grid; /* Esto habilita el compartimiento de grid en el contenedor */

  grid-template-columns: repeat(3,1fr);  /* Esto define el ancho de las columnas  */

  grid-template-rows: repeat(3,1fr);  /* Esto define el alto de la fila  */

  gap: 24px; /* Define el espacio entre filas y columnas */

  row-gap: 50px; /* Espacio entr filas */
  column-gap: 10px; /* Espacio entre columnasS */

  width: 500px;
  height: 500px;
  margin: 0 auto; /* Esto centra el elemento cuando tiene ancho definido */
  background-color: rgb(136, 0, 255);
}

.item1 {
  background-color: aliceblue;
}

.item2 {
  background-color: antiquewhite;
}

.item3 {
  background-color: aqua;
}

.item4 {
  background-color: rgb(202, 144, 255);
}

.item5 {
  background-color: cadetblue;
}