* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: aquamarine;
  padding: 48px;
}

/* Container con una grilla de 5 columnas x 5 filas del mismo ancho y alto */

.container {
  display: grid; /* Esto habilita el compartimiento de grid en el contenedor */

  grid-template-columns: 100px 100px 100px;  /* Esto define el ancho de las columnas  */

  grid-template-rows: repeat(3,100px);  /* Esto define el alto de la fila  */

  grid-template-areas: 
    "header header header"
    "main   main   sidbear"
    "footer footer footer";

  width: 500px;
  height: 500px;
  margin: 0 auto; /* Esto centra el elemento cuando tiene ancho definido */
  background-color: rgb(136, 0, 255);
}

.header {
  grid-area: header;
  background-color: aqua;
}

.main {
  grid-area: main;
  background-color: rgb(255, 77, 0);
}

.sidbear {
  grid-area: sidbear;
  background-color: cornsilk;
}

.footer {
  grid-area: footer;
  background-color: rgb(255, 233, 33);
}